body {
    background-image: url("/public/images/スプラッシュ(2).png");
	text-align: center;
}

header {
  background-color: #ff3131;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.global-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.global-nav li {
  margin: 0 20px;
}

.global-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.menu-en {
  font-size: 12px;
  font-weight: normal;
  display: block;
}

.box {
    margin: 30px;
    padding: 20px;
    width: 370px;
    height: 670px;
    background-color: rgba(255,255,255,0.2);
    float: left;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box img {
  height: 220px;  
  width: 300px;
}

.box h2 {
    margin: 10px 0px;
    font-size: 24px;
    text-align: center;
}

.box h3 {
    margin: 10px 0px;
    font-size: 16px;
    text-align: center;
}

.box p {
    margin: 10px;
    font-size: 14px;
    text-align: justify;
}
