@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Zen+Kaku+Gothic+New&display=swap');
body {
  background-image: url("スプラッシュ.png");
	text-align: center;
}
header {
  background-color: #5271FF;
  height: 80px;
  display: flex;
  justify-content: right;
  align-items: center;
}

h1 {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  margin: 10px 0px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.global-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.global-nav li {
  margin: 0 20px;
}

.global-nav a {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.menu-en {
  font-size: 12px;
  font-weight: normal;
  display: block;
}


.box {
    margin: 30px;
    padding: 20px;
    width: 370px;
    height: 670px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #aaaaaa;
    float: left;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box img {
    width: 320px;
    height:250px;
}

.box h2 {
  font-family: 'Zen Kaku Gothic New', sans-serif;
    margin: 10px 0px;
    font-size: 24px;
    text-align: center;
}

.box h3 {
  font-family: 'Zen Kaku Gothic New', sans-serif;
    margin: 10px 0px;
    font-size: 16px;
    text-align: center;
}

.box p {
  font-family: 'Klee One', cursive;
    margin: 10px;
    font-size: 10px;
    text-align: justify;
}
